.category-filter select {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #fff; /* Borde blanco */
    border-radius: 5px;
    cursor: pointer;
    appearance: none;
  }
  
  .category-filter select:hover {
    background-color: #0056b3;
  }
  
  .button-ver {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #fff; /* Borde blanco */
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-ver:hover {
    background-color: #0056b3;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: calc(50% - 20px);
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
  }
  
  .card .image {
    text-align: center;
  }
  
  .card .image img {
    max-width: 100%;
    height: auto;
  }
  
  .card .detalles {
    padding: 10px;
  }
  
  @media (max-width: 768px) {
    .card {
      width: calc(100% - 20px);
    }
  }
  